<!--&lt;!&ndash;<base href="/">&ndash;&gt;-->
<!--<div fxFlex="80%" style="margin: auto" fxLayoutAlign="right">-->
    <!--<p-table [value]="offerService.offerslist">-->
        <!--<ng-template pTemplate="header">-->
            <!--<tr>-->
                <!--<th *ngFor="let col of displayedColumns">-->
                    <!--{{col.header}}-->
                <!--</th>-->
            <!--</tr>-->
        <!--</ng-template>-->
        <!--<ng-template pTemplate="body" let-car>-->
            <!--<tr>-->
                <!--<td *ngFor="let col of displayedColumns" >-->
                    <!--{{car[col.field]}}-->
                <!--</td>-->
            <!--</tr>-->
        <!--</ng-template>-->
    <!--</p-table>-->
<!--</div>-->


<!--&lt;!&ndash;<table mat-table [dataSource]="displayedColumns">&ndash;&gt;-->
<!--&lt;!&ndash;<ng-container matColumnDef="position">&ndash;&gt;-->
    <!--&lt;!&ndash;<th mat-header-cell *matHeaderCellDef> No. </th>&ndash;&gt;-->
    <!--&lt;!&ndash;<td mat-cell *matCellDef="let element"> {{element.position}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;</table>&ndash;&gt;-->

<!--&lt;!&ndash;<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>&ndash;&gt;-->