<div class="mat-elevation-z8">
    <mat-horizontal-stepper linear="false" #stepper>
        <mat-step [stepControl]="firstFormGroup" errorMessage="Aim is required.">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your Aim</ng-template>
                <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Offer Name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>
                <mat-form-field>
                    <input  type="number" min="0"  matInput placeholder="Minumum level" [(ngModel)]="minLevel" [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput class="description-form" placeholder="Description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" required></textarea>
                    <!--formControlName="firstCtrl" required-->
                </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" errorMessage="Detail is required.">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fill out offer detail</ng-template>

                <app-create-offer-detail (talk)="talkBack($event)"></app-create-offer-detail>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                <button mat-button (click)="saveOffer()">Save</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>