<p>
  admin-register works!
</p>
<div class="component-preview">
  <mat-card-content>
    <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="userForm"
          (ngSubmit)="login()">

<div *ngFor="let item of formErrors">
      <mat-form-field class="full-width">
      <input type="text" id="{{item}}" class="input"
      placeholder="Please enter your {{item}}"
      formControlName="{{item}}}" required matInput>
      </mat-form-field>
      <div *ngIf="item" class="help is-danger">
      {{ item }}
      </div>
</div>

      <mat-form-field class="full-width">
        <input type="email" id="email" class="input"
               placeholder="Please enter your email"
               formControlName="email" required matInput>
          <mat-error *ngIf="formErrors.email">{{ formErrors.email }}</mat-error>
      </mat-form-field><br>

      <mat-form-field class="full-width">
        <input type="password" id="password" class="input"
               placeholder="please  enter your password"
               formControlName="password" required matInput>
          <mat-error *ngIf="formErrors.password">{{ formErrors.password }}</mat-error>
      </mat-form-field><br>

      <mat-form-field class="full-width">
        <input type="password" id="password2" class="input"
               placeholder="please  enter your password confirmation"
               formControlName="password2" required matInput>
          <mat-error *ngIf="formErrors.password2">{{ formErrors.password2 }}</mat-error>
      </mat-form-field><br>

      <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid"
              (click)="login()">log in
      </button>
    </form>
  </mat-card-content>
</div>