<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" style="background-image:url('../../../assets/login11.jpg');
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover; ">
    <div fxLayout="column">

        <div class=" mat-elevation-z4">
            <mat-card>
                <mat-card-title>Register as!
                    <a class="redirect" [routerLink]="['login']">Login</a>
                </mat-card-title>
                <mat-tab-group fxFlexFill  [selectedIndex]="selected.value"  (selectedIndexChange)="selected.setValue($event)">
                    <mat-tab label="PUBLISHER">
                        <app-user-register [role]=1></app-user-register>
                    </mat-tab>
                    <mat-tab label="ADVERTISER">
                        <div class="component-preview">
                            <app-user-register [role]=2></app-user-register>
                        </div>
                    </mat-tab>
                    <mat-tab label="ADMIN">
                        <div class="component-preview">
                            <app-admin-register></app-admin-register>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>
</div>
