mat-grid-tile {
  background: #C2185B//#DDBDF1//lightblue;
}
table {
  width:99%;
  //height: 99%;
}
mat-card{
  width: 99%;
  //height: 99%;
}


.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border-radius: unset;
  width: 30%;
  //height: 150px;
}